body {
  background-color: black;
  color: #8b0000;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.aviso {
  opacity: 0.6;
  animation: piscar 2s infinite;
}

a {
  color: #b30000;
  text-decoration: none;
  border-bottom: 1px solid #b30000;
}

a:hover {
  color: red;
}

@keyframes piscar {
  0% { opacity: 0.2; }
  50% { opacity: 0.6; }
  100% { opacity: 0.2; }
}

a {
  pointer-events: auto;
  position: relative;
  z-index: 10;
}

